venv/
__pycache__/
.vscode/
*.db
test*

*.pickle
token.*
credentials.json

# ignore jupyter stuff
*.ipynb*

# ignore models
terminator/models/
# ignore led stuff
terminator/pixels_demo.py
terminator/raw_led_stuff.py

