dash==1.7.0
dash-core-components==1.6.0
dash-daq==0.3.1
dash-html-components==1.0.2
dash-renderer==1.2.2
dash-table==4.5.1
google-api-python-client==1.7.11
google-auth==1.11.2
matplotlib==3.0.2
numpy==1.16.2
pandas==0.23.3+dfsg
psutil==5.6.7
scipy==1.1.0
