/*
GraduatedBar - background
*/
.MVpzQ {
    background-color: var(--background) !important;
    margin: 10px !important;
    border: 1px solid var(--border-medium) !important;
}

/*
GraduatedBar - single element
*/
.aturR {
    width: 0.5px !important;
    margin: 0px 0.25px !important;
}

/*
Checklist padding
*/
.checklist {
    /* border: 10px solid #fff !important; */
    padding: 10px 0;
}


/*
Gauge
*/
.gauge {
    padding: 10px 0;
    text-align: center;
}

/*
Gauge height
*/
.sc-iwsKbI {
    padding: 0px;
    height: 220px;
}


/*
Gauge current font size
*/
.jjZFEi {
    font-size: 1.7em;
}

/*
DateMonthPicker
*/
.DateInput .DateRangePickerInput_arrow .DateRangePickerInput_arrow_1 .data__hist__item {
    color: var(--foreground) !important;
    background-color: var(--background) !important;
    border: 1px solid var(--border-dark);
    /* border: 1px solid #111111; */
}

.DateRangePickerInput {
    background-color: var(--background) !important;
    display: inline-block;
}

.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid var(--border-light);
}

.DateInput_input {
    color: var(--foreground);
    background-color: var(--background) !important;
    border: 1px solid var(--border-medium);
}

.DayPicker_focusRegion {
    color: var(--foreground);
    background-color: var(--background) !important;
    border: 1px solid var(--border-dark);
}

.DayPicker_transitionContainer {
    background-color: var(--background-medium) !important;
    border: 1px solid var(--border-medium);
}

.DateRangePicker_picker {
    background-color: var(--background);
    /* background-color: rgba(17,17,17,0.9); */
}

.DayPicker,
.DayPickerKeyboardShortcuts_panel,
.DayPickerNavigation_button,
.CalendarMonthGrid,
.CalendarMonth,
.CalendarDay,
.DayPickerNavigation {
    color: var(--foreground);
    background-color: var(--background-medium) !important;
    border: 1px solid var(--border-medium);
}

.DateInput_fangShape {
    fill: var(--background-medium);
}

.DateInput_fangStroke {
    stroke: var(--background-medium);
    fill: transparent;
}


/* 
Datatable pagaing buttons
*/
.previous-page, .next-page, .first-page, .current-page, .last-page {
    background-color: var(--background-medium) !important;
}

input.current-page::placeholder {
    color: var(--foreground) !important;
}
